@{
    ViewData["Title"] = "Chart page";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
    @foreach (var item in Model)
    {
        <div>
            key: @item.Key
            value: @item.Value
        </div>
    }
</div>

<div class="row">
    <div class="col-6">
        <input type="date" name="startdate" id="startdate" class="form-control form-control-sm">
    </div>
    <div class="col-6">
        <input type="date" name="enddate" id="enddate" class="form-control form-control-sm">
    </div>
    <div class="col-6">
        <input type="button" value="Показать" name="show" id="show" class="form-control form-control-sm">
    </div>
</div>
<div>
    <canvas id="myChart"></canvas>
</div>

<script>
    var label = @Html.Raw(Json.Serialize(Model.Data));
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: label,
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>