@model ChartModel
@{
    ViewData["Title"] = "Chart page";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
    
</div>


<form method="post" asp-controller="Chart" asp-action="Show">
    <div class="row">
        <div class="col-6">
            <input type="datetime-local" name="startdate" id="startdate" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <input type="datetime-local" name="enddate" id="enddate" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <input type="submit" value="Показать" name="show" id="show" class="form-control form-control-sm">
        </div>
        <div class="col-6">
            <select name="titleContr" id="titleContr">
                @foreach (var item in Model.Title)
                {
                    <option value="@item" name="title">@item</option>
                }
            </select>
        </div>
    </div>
</form>